<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="../static/styles/2-filters.css?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="../static/styles/1-places.css?{{ cache_id }}" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../static/scripts/100-hbnb.js?{{ cache_id }}"></script>
    <title>HBNB</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="../static/images/logo.png" alt="HBNB logo">
      </div>
      <div id="api_status"></div>
    </header>
    <div class="filters">
      <h3>Filters</h3>
      <section>
        <h4>Amenities</h4>
        <ul>
          <li><input type="checkbox" data-id="1" data-name="WiFi"> WiFi</li>
          <li><input type="checkbox" data-id="2" data-name="Pool"> Pool</li>
          <li><input type="checkbox" data-id="3" data-name="Air conditioning"> Air conditioning</li>
          <li><input type="checkbox" data-id="4" data-name="Parking"> Parking</li>
        </ul>
      </section>
      <section>
        <h4>States</h4>
        <ul>
          <li><input type="checkbox" data-id="1" data-name="California"> California</li>
          <li><input type="checkbox" data-id="2" data-name="New York"> New York</li>
        </ul>
      </section>
      <section>
        <h4>Cities</h4>
        <ul>
          <li><input type="checkbox" data-id="1" data-name="San Francisco"> San Francisco</li>
          <li><input type="checkbox" data-id="2" data-name="New York City"> New York City</li>
        </ul>
      </section>
    </div>
    <section class="places">
      <h1>Places</h1>
      <div class="places_container"></div>
    </section>
    <button>Search</button>
  </body>
</html>
