<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css?{{ cache_id }}" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../static/scripts/2-hbnb.js?{{ cache_id }}"></script>
  </head>
  <body>
    <header>
      <h1>AirBnB clone</h1>
      <div id="api_status"></div>
    </header>
    <section class="filters">
      <h2>Filters</h2>
    </section>
    <section class="places">
      <h2>Places</h2>
    </section>
  </body>
</html>
