header {
    background: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #cccccc;
}

header .logo {
    background: url("../images/logo.png") no-repeat;
    left: 20px;
    height: 100%;
}

header #api_status {
    background-color: #cccccc;
    position: absolute;
    height: 40px;
    width: 40px;
    top: 15px;
    right: 30px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.available {
    background-color: #ff545f;
}

header #api_status.available {
    background-color: #ff545f;
}

/* Amenities h4 styling */
.amenities h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 205px;
    display: block;
}